<div class="card col p-3 mb-2 bg-secondary text-gray" style="width: 18rem; margin: 10px;">
    <div class="card-body card header">
      <h5 class="card-title ">Name</h5>
      <h6 class="card-subtitle mb-2 text-muted">Intern</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Employee ID: 3</li>
        <li class="list-group-item">Email: <a href=mailto:jd@gmail.com>jd@gmail.com</a></li>
        <li class="list-group-item"> School: UGA</li>
    </ul>
</div>